<div>
  <div>
    <h1>
      The <%= @the_list.name %> Lists
    </h1>

        <div>
        <a href="/delete_2/<%= @the_list.id %>">
          Delete list
        </a>
      </div>
    </div>

<hr>

<h2>Create a new shopping list</h2>

<form action="/insert_shopping" method="post">
<div>
<label for="name_field">Store Name</label>
<input id="name_field" type="text" name="query_name">
</div>
<div>
<label for="body_field">Location</label>
<input id="body_field" type="text" name="query_body">
</div>
<div>
<label for="expires_on_field">Expires on</label>
<input id="expires_on_field" type="date" name="query_expires_on">
</div>

<div>
<label for="list_id_field">List ID</label>
<input id="list_id_field" type="text" name="query_list_id">
</div>

<button>Create my shopping list</button>
</form>

<h2>Active Lists</h2>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expires on</th>
  </tr>

  <%# @active_shopping.each do |a_shopping| %>
<!--    <tr>
      <td><%#= a_shopping.title %></td>
      <td><%#= a_shopping.body %></td>
      <td><%#= a_shopping.created_at.strftime("%b %e, %Y") %></td>
      <td><%#= a_shopping.expires_on.strftime("%b %e, %Y") %></td>
    </tr>-->
  <%# end %>
</table>
