<h1>Welcome to your Shopping Hub</h1>


<style>
nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
</style>
<nav>
<ul>
 <div>
       <a href="https://www.target.com/weekly-ad" target="_blank" style="font-size: 40px;">
    <i class="fa-solid fa-bullseye" style="color: #f70202; font-size: 0.9em;"></i> Target
      </a>

      <a href="https://www.costco.com/s?keyword=OFF&dept=All" target="_blank" style="font-size: 40px;">
      <i class="fa-solid fa-hotdog" style="color: #e40707; font-size: 0.9em;"></i> Costco
      </a>

      <a href="https://www.homedepot.com/c/Savings_Center" target="_blank" style="font-size: 40px;">
    <i class="fa-solid fa-bucket" style="color: #eb6f0a; font-size: 0.9em"></i> Home Depot
      </a>
      </div>

      </ul>
    </nav>


<hr>

<h2>Create shopping lists</h2>

<div>
  <div>
  
   <form action="/insert_board" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Add shopping list
      </button>
    </form>

    </div>
</div>

<hr>
